<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="./java.js"></script>
</head>

<body onscroll="bg1()" onscroll="done()">
    <header >
        <div id="navbar" >
            <nav id="nav">
                <ul>
                    <li style="flex-grow: 1;  margin-left: 30px;"><a href=""  class="a">food-shop</a></li>
                    <li><a href="" >about</a></li>
                    <li><a >services</a>
                        <div id="side-nav">
                            <ul>
                                <li><a href="">all</a></li>
                                <li><a href="">check</a></li>
                                <li><a href="">ok</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="" >Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main >
        <section id="home-con" >
            <div id="home-main navbar">
                <h1>Lorem ipsum dolor sit, amet consectetur adipisicing.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae nisi, distinctio suscipit beatae repellendus?</p>
            </div>
        </section>
        <section id="about-con" >
            <div id="about-main" onscroll="red()" onmouseleave="done()" >
                <div class="slider" id="st">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni nihil quidem, magnam accusamus ducimus illo est sint quam fuga?
                </div>
               
                <div class="slider"><img src="img/pizza.png" alt="" width="240px" height="200px">
                    <h1>pizza</h1>
                </div>
                <div class="slider"><img src="img/OIP.jpg" alt="" width="240px" height="200px">
                    <h1>pizza</h1>
                </div>
               
                <div class="slider"><img src="img/pizza.png" alt="" width="240px" height="200px">
                    <h1>pizza</h1>
                </div><div class="slider"><img src="img/OIP.jpg" alt="" width="240px" height="200px">
                    <h1>pizza</h1>
                </div>
               
                <div class="slider"><img src="img/pizza.png" alt="" width="240px" height="200px">
                    <h1>pizza</h1>
                </div>
            </div>
        </section >
        <section id="services-con">
            <div id="services-main">
                <h1>Lorem ipsum dolor sit, amet consectetur adipisicing.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae nisi, distinctio suscipit beatae repellendus?</p>
            </div>
        </section>
        <section id="contact-con">
            <div id="contact-main">
                <h1>Lorem ipsum dolor sit, amet consectetur adipisicing.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae nisi, distinctio suscipit beatae repellendus?</p>
            </div>
            <div id="contact-main">
                <h1>Lorem ipsum dolor sit, amet consectetur adipisicing.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae nisi, distinctio suscipit beatae repellendus?</p>
            </div><div id="contact-main">
                <h1>Lorem ipsum dolor sit, amet consectetur adipisicing.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae nisi, distinctio suscipit beatae repellendus?</p>
            </div><div id="contact-main">
                <h1>Lorem ipsum dolor sit, amet consectetur adipisicing.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae nisi, distinctio suscipit beatae repellendus?</p>
            </div><div id="contact-main">
                <h1>Lorem ipsum dolor sit, amet consectetur adipisicing.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae nisi, distinctio suscipit beatae repellendus?</p>
            </div><div id="contact-main">
                <h1>Lorem ipsum dolor sit, amet consectetur adipisicing.</h1>
                <p<div id="contact-main">
                    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing.</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae nisi, distinctio suscipit beatae repellendus?</p>
                </div>>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae nisi, distinctio suscipit beatae repellendus?</p>
            </div><div id="contact-main">
                <h1>Lorem ipsum dolor sit, amet consectetur adipisicing.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae nisi, distinctio suscipit beatae repellendus?</p>
            </div><div id="contact-main">
                <h1>Lorem ipsum dolor sit, amet consectetur adipisicing.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae nisi, distinctio suscipit beatae repellendus?</p>
            </div><div id="contact-main">
                <h1>Lorem ipsum dolor sit, amet consectetur adipisicing.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae nisi, distinctio suscipit beatae repellendus?</p>
            </div><div id="contact-main">
                <h1>Lorem ipsum dolor sit, amet consectetur adipisicing.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae nisi, distinctio suscipit beatae repellendus?</p>
            </div>
        </section>
    </main>
    <footer>
        <div id="footer">
            <h1 align="center">Demo website by user</h1>
        </div>
    </footer>
</body>

</html>