<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>one page web</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li style="margin: 17px; padding: 0;" class="left"><img src="img/icon/menu-icon.png" alt="" width="22px" height="25px"></li>
            <li><a href="">in</a> </li>
            <li><a href="">En</a>
                <div class="side-nav">
                    <ul>
                        <li>Hindi</li>
                        <li>English</li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</body>
</html>