<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sty.css">
<script src="j.js"></script>
</head>
<body>
    <main>
        <div id="main">
            <div  class="main-con first" id="first">
                <h1>Log In</h1>
                <label for="utext">Enter Name</label><br>
                <input type="text" id="utext" name="utext"><br>
                <label for="Passward">Enter Passward</label><br>
                <input type="password" id="Passward" name="Passward"><br>
                <button>login</button><br>
                <span id="sp1" class="ss" >forget passward</span>
                <span  id="sp2" class="ss" onclick="boom(0)">sign up</span>
            </div>
            <div class="main-con second" id="second">
                <h1>Sign up</h1>
                <label for="Stext">Enter Name</label><br>
                <input type="text" id="Stext" name="utext"><br>
                <label for="APassward">Enter Passward</label><br>
                <input type="password" id="APassward" name="APassward"><br>
                <label for="ANPassward">Re-Enter Passward</label><br>
                <input type="password" id="ANPassward" name="ANPassward"><br>
                <label for="gmail">Enter Gmail</label><br>
                <input type="email" id="gmail" name="gmail"><br>
                <button>login</button><br>
                <span class="ss">forget passward</span>
                <span class="ss" onclick="boom(1)">log in</span>
            </div>
        </div>

    </main>
</body>
</html>